doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title
      | {% if product.productdetails.meta_title %}{{
      | product.productdetails.meta_title }}{% else %}{% trans %}motionVFX -
      | Original Home of Apple Motion Templates and Final Cut Pro X Plugins{%
      | endtrans %}{% endif %}
    link(rel='shortcut icon' href='css/static/images/favicon.png' type='image/png')
    //- FONTS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    link(href='css/custom_pages_wrap.css' rel="stylesheet" type="text/css")
    link(href='css/bootstrap-4.1.3.min.css' rel="stylesheet" type="text/css")
    link(href='css/menu.css' rel='stylesheet' type="text/css")

    script(src='scripts/jquery-3.4.1.min.js')
    script(src='scripts/bootstrap-4.1.3.bundle.min.js')
    script(src='https://s3.motionvfx.com/mvfxpublic/products/templates/source/media/scroll_to_anchor.js')
    script(src='scripts/custom_pages_wrap.js')
    //- script(src='scripts/beforeafter.js')
    script(src='scripts/scroll_to_anchor.js')
    script(src='scripts/menu.js')

    - var mediaRootUrl = '/images'
    - var templateImagesUrl = '/images'
    - var getParsedImage = (name, type = "placeholder") => `\${require('${name}').${type}}`

    -
      var placeholders = {
        image: {
          hd: () => `https://via.placeholder.com/1920x1080/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          logo: () => `https://via.placeholder.com/320x160/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          preset: () => `https://via.placeholder.com/320x180/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          icon: (size) => `https://via.placeholder.com/${size}x${size}/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
        },
        video: {
          youtube: 'https://www.youtube.com/embed/5iPH-br_eJQ?rel=0',
          videoTitle: 'This is video title',
          vimeo: 'https://player.vimeo.com/video/112879331'
        },
        text: {
          display: 'This is dispaly',
          lorem: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto minima eaque fuga ab quas, illo alias aliquid est facere, praesentium tenetur soluta magnam quae sint non unde voluptatibus voluptatum.',
          title: 'This is title',
          subtitle: 'This is subtitle'
        }
      }

  body
    include includes/submenu.pug
    include includes/navbar.pug
    .top-bar
    main.mCensor
      include includes/header.pug
      a(href="#" class="scroll-to-btn" onclick="scrollToAnchor('trailer');" tabindex="-1")
      a.nav(name="trailer")
      - var sectionClasses = 'trailer bg__light'
      - var title = "WATCH TRAILER"
      - var subtitle = placeholders.text.subtitle
      - var text = placeholders.text.lorem
      - var videoLink = 'https://player.vimeo.com/video/147835725'
      //- - var videoPlaceholder = "https://i.vimeocdn.com/video/495154119?mw=1000&mh=562"
      - var videoTitle = placeholders.video.videoTitle
      include includes/video.pug
      a.nav(name="tutorial")
      - var background = '/images/tutorial_bg.jpg'
      - var sectionClasses = 'tutorial bg__dark'
      - var title = "WATCH TUTORIAL"
      - var subtitle = placeholders.text.subtitle
      - var text = placeholders.text.lorem
      - var videoLink = placeholders.video.youtube
      //- - var videoPlaceholder = "https://i.ytimg.com/vi/YxPrtn64rFQ/maxresdefault.jpg"
      - var videoTitle = placeholders.video.videoTitle
      include includes/video.pug
      include includes/new-interface.pug

      -
        var images = [
          {
            src: '/images/slider_1.jpg',
            alt: 'This is alt',
            icon: placeholders.image.icon(32),
            text: 'solid'
          },
          {
            src: '/images/slider_2.jpg',
            alt: 'This is alt',
            icon: placeholders.image.icon(32),
            text: 'pixelate'
          },
          {
            src: '/images/slider_3.jpg',
            alt: 'This is alt',
            icon: placeholders.image.icon(32),
            text: 'blur'
          }
        ]
      
      - var active = (index) => `${index === 0 && 'active' }`

      section.showcase
        div#carouselExamples(class=`case__item case__item--2 carousel slide carousel-fade`)
          .case__item__bg
            include includes/components/slider.pug
            //- - var image = `/images/fade_bg_1.jpg`
            //- - var alt = ''
            //- - var imageWidth = '2560'
            //- - var imageHeight = '1150'
            //- include includes/components/image.pug
            //- img(src=placeholders.image.hd(), alt="")
          .case__item__body
            .container
              .row
                div(class=`col-md-6 offset-md-6 case__item__qt`)
                  .section__head
                    h2.section__subtitle=placeholders.text.subtitle
                    p.section__title=placeholders.text.title
                    p.section__text.section__text--inset=placeholders.text.lorem
                div(class=`col-md-6 offset-md-6`)
                  .carousel-indicators__wrapper
                    ol.carousel-indicators
                      each img, index in images
                        li(class=active(index))(data-target='#carouselExamples' data-slide-to=index)
                          img(src=img.icon, alt="")
                          p=img.text
                    .carousel-progress

      include includes/split-image.pug
      include includes/presets.pug
      a.nav(href="#" name='specs', rel="noopener noreferrer") 
      include includes/tech-spec.pug
      include includes/minstaller.pug
      include includes/footer.pug
