doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title
      | {% if product.productdetails.meta_title %}{{
      | product.productdetails.meta_title }}{% else %}{% trans %}motionVFX -
      | Original Home of Apple Motion Templates and Final Cut Pro X Plugins{%
      | endtrans %}{% endif %}
    link(rel='shortcut icon' href='css/static/images/favicon.png' type='image/png')
    //- FONTS
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    link(href='css/vendor/custom_pages_wrap.css' rel="stylesheet" type="text/css")
    link(href='css/vendor/bootstrap-4.1.3.min.css' rel="stylesheet" type="text/css")
    link(href='css/vendor/menu.css' rel='stylesheet' type="text/css")

    script(src='scripts/vendor/jquery-3.4.1.min.js')
    script(src='scripts/vendor/bootstrap-4.1.3.bundle.min.js')
    script(src='scripts/vendor/custom_pages_wrap.js')
    script(src='scripts/vendor/menu.js')

    - var mediaRootUrl = '/images'
    - var templateImagesUrl = '/images'
    - var getParsedImage = (name, type = "placeholder") => `\${require('${name}').${type}}`

    -
      var placeholders = {
        image: {
          hd: () => `https://via.placeholder.com/1920x1080/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          logo: () => `https://via.placeholder.com/320x160/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          preset: () => `https://via.placeholder.com/320x180/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          icon: (size) => `https://via.placeholder.com/${size}x${size}/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
        },
        video: {
          youtube: 'https://www.youtube.com/embed/5iPH-br_eJQ?rel=0',
          videoTitle: 'This is video title',
          vimeo: 'https://player.vimeo.com/video/112879331'
        },
        text: {
          display: 'This is display',
          lorem: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto minima eaque fuga ab quas, illo alias aliquid est facere, praesentium tenetur soluta magnam quae sint non unde voluptatibus voluptatum.',
          loremShort: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto minima eaque fuga ab quas, illo alias aliquid est facere.',
          title: 'This is title',
          subtitle: 'This is subtitle'
        }
      }
  - var dev = false
  body
    include data.pug
    include includes/submenu.pug
    include includes/navbar.pug
    .top-bar
    main.mTitleCinematic
      .bg--dark
        include includes/header.pug
        a(href="#" class="scroll-to-btn" onclick="scrollToAnchor('trailer');" tabindex="-1")
        a.nav(name="trailer")
        - var sectionClasses = 'trailer'
        - var title = "WATCH TRAILER"
        - var subtitle = data.trailer.title
        - var text = data.trailer.text
        //- - var videoLink = "https://www.youtube.com/embed/pBP5UxWD2BA?rel=0"
        - var videoLink = "tFkHpjGToCo"
        //- - var videoPlaceholder = "https://i.vimeocdn.com/video/495154119?mw=1000&mh=562"
        - var videoTitle = placeholders.video.videoTitle
        include includes/video.pug

        a.nav(name="tutorial")
        //- - var background = '/images/tutorial_bg.jpg'
        - var sectionClasses = 'tutorial'
        - var title = "WATCH TUTORIAL"
        - var subtitle = data.tutorial.title
        - var text = data.tutorial.text
        - var videoLink = "tFkHpjGToCo"
        //- - var videoPlaceholder = "https://i.ytimg.com/vi/YxPrtn64rFQ/maxresdefault.jpg"
        - var videoTitle = placeholders.video.videoTitle
        include includes/video.pug
        //- include includes/new-interface.pug

        - var active = (index) => `${index === 0 && 'active' }`

        - var slides = data.slides
        - var slidesImages = slides.images
        section.slides__section
          //- aditional interaction here
          each img, index in slidesImages
            .slide
              - var image = img.src
              - var alt = img.alt
              - var imageWidth = '1600'
              - var imageHeight = '2200'
              - var sizes = '20vw'
              - var styles = `--slide-index: ${index}`
              include includes/components/image.pug
              //- img(src=img.src, alt=img.alt, srcset="", style=`--slide-index: ${index}`)
          //- .slick-carousel
            each img, index in slidesImages
              //- .carousel-cell
              img(src=img.src, alt=img.alt, srcset="")


        - var promo = data.promo
        - var promoImage = promo.image
        - var promoText = promo.textImage
        section.promo--section
          .promo__bg
            - var image = promoImage.src
            - var alt = promoImage.alt
            - var imageWidth = '2560'
            - var imageHeight = '1150'
            - var sizes = '(max-width: 500px) 200vw'
            include includes/components/image.pug
            .promo__bg__title
              - var image = promoText.src
              - var alt = promoText.alt
              - var imageWidth = '1405'
              - var imageHeight = '688'
              - var sizes = '50vw'
              include includes/components/image.pug
          .promo__content
            .container
              .row
                .col-12
                  .section__head
                    .section__subtitle= promo.subtitle
                    .section__title= promo.title
                    .section__text.section__text--inset= promo.text
                  .section__content
                    //- - var image = promoText.src
                    //- - var alt = promoText.alt
                    //- - var imageWidth = '1405'
                    //- - var imageHeight = '688'
                    //- - var sizes = '50vw'
                    //- include includes/components/image.pug

      include includes/presets.pug
      a.nav(href="#" name='specs', rel="noopener noreferrer") 
      include includes/tech-spec.pug
      include includes/minstaller.pug
      include includes/footer.pug
