doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title
      | {% if product.productdetails.meta_title %}{{
      | product.productdetails.meta_title }}{% else %}{% trans %}motionVFX -
      | Original Home of Apple Motion Templates and Final Cut Pro X Plugins{%
      | endtrans %}{% endif %}
    link(rel='shortcut icon' href='css/static/images/favicon.png' type='image/png')
    //- FONTS
    //- <link rel="preconnect" href="https://fonts.googleapis.com">
    //- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    //- <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap" rel="stylesheet">

    //- link(href='css/vendor/custom_pages_wrap.css' rel="stylesheet" type="text/css")
    //- link(href='css/vendor/bootstrap-4.1.3.min.css' rel="stylesheet" type="text/css")
    link(href='scripts/vendor/page/core.css' rel='stylesheet' type="text/css")

    //- script(src='scripts/vendor/jquery-3.4.1.min.js')
    //- script(src='scripts/vendor/bootstrap-4.1.3.bundle.min.js')
    //- script(src='scripts/vendor/custom_pages_wrap.js')
    //- script(src='scripts/vendor/menu.js')

    script(src='scripts/vendor/page/commons.js')
    script(src='scripts/vendor/page/core.js')

    - var getParsedImage = (name, type = "placeholder") => `\${require('${name}').${type}}`

    //- -
      var placeholders = {
        image: {
          hd: () => `https://via.placeholder.com/1920x1080/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          logo: () => `https://via.placeholder.com/320x160/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          preset: () => `https://via.placeholder.com/320x180/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
          icon: (size) => `https://via.placeholder.com/${size}x${size}/${(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0')}`,
        },
        video: {
          youtube: 'https://www.youtube.com/embed/5iPH-br_eJQ?rel=0',
          videoTitle: 'This is video title',
          vimeo: 'https://player.vimeo.com/video/112879331'
        },
        text: {
          display: 'This is display',
          lorem: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto minima eaque fuga ab quas, illo alias aliquid est facere, praesentium tenetur soluta magnam quae sint non unde voluptatibus voluptatum.',
          loremShort: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto minima eaque fuga ab quas, illo alias aliquid est facere.',
          title: 'This is title',
          subtitle: 'This is subtitle'
        }
      }
    
    - var mediaRoot = '/images'

    -
      var data = {
        header: {
          images: {
            logo: {
              alt: 'Icon logo of DaVinci Resolve',
              src: `${mediaRoot}/dvr.png`
            },
            bg: {
              alt: 'Two video editors sitting in front of a monitor, deciding on the course of action, monitor displays editor interface with preview of a short Interstellar Quest',
              src: `${mediaRoot}/top.jpg`
            }
          },
          title: 'We’re now ready for DaVinci Resolve 17.2.2!',
          text: 'What if we showed you how to seamlessly combine the endless possibilities of MotionVFX’s templates with the industry’s one software tool for all things editing, including color correction, visual effects, motion graphics and audio post production?'
        },
        plugins: {
          title: 'Creative tools to make your video look professional',
          subtitle: 'Try MotionVFX quality with demo versions of our products.',
          plugins: [
            {
              src: 'https://via.placeholder.com/800x450',
              alt: '',
              title: 'mTuber 2',
              text: 'Video Channel Enhancer Plugin Exclusively For DVR'
            },
            {
              src: 'https://via.placeholder.com/800x450',
              alt: '',
              title: 'm16mm',
              text: 'Retro Film Effects Plugin for DVR'
            },
            {
              src: 'https://via.placeholder.com/800x450',
              alt: '',
              title: 'mIntro 2',
              text: 'Beautiful Channel Openers for DVR'
            }
          ],
          button: 'more →',
        },
        baubles: {
          title: 'You gave us the challenge… \nSO WE DID IT!',
          text: 'You asked, we delivered, and now it’s official! MotionVFX goes Da Vinci and the number of stunning presets for your edits is raising by the day.',
          baubles: [
            {
              text: 'I’m using Final Cut Pro Love your plugins You should make them work in DaVinci Resolve also'
            },
            {
              text: 'I would like MotionVFX plugins for DaVinci Resolve too!'
            },
            {
              text: 'Please tell me you’re going to start making plugins and templates for Resolve.'
            },
            {
              text: 'Can you guys also make DaVinci Resolve plugins?'
            },
          ]
        },
        slider: {
          images: [
            {
              label: 'mtuber 2',
              title: 'Captivate your viewers',
              text: 'Our solutions work perfectly, empowering professionals and enthusiasts alike across the global community of video editors. And long story short, they’re the ultimate time-saving option.',
              alt: '',
              src: `${mediaRoot}/mTuber_slide-2.jpg`
            },
            {
              label: 'mtitle cinematic',
              title: 'The iconic look of the movie credits',
              text: 'A collection of refined and well-designed typography presets to give the edit a truly cinematic vibe. These animated captions will adorn any project with modern motion design and turn it into a genuine masterpiece.',
              alt: '',
              src: `${mediaRoot}/mTitleCinematic_slide-1.jpg`
            },
            {
              label: 'm16mm',
              title: 'Stunning nostalgic stylizations',
              text: 'Surprise your audience with sensational retro-inspired video effects and evoke memories and emotions. Stand out from the crowd with a unique sentimental touch in your works and make your viewers travel in time.',
              alt: '',
              src: `${mediaRoot}/mTuber_slide-2.jpg`
            },
          ],
          button: 'more'
        },
        free: {
          images: [
            {
              alt: '',
              src: `${mediaRoot}/box_free.png`
            },
          ],
          title: 'Have a taste of MotionVFX quality with this free pack for DaVinci Resolve!',
          text: 'See how you can elevate your work with these diversified sample tools.',
          button: 'Get it free'
        },
        packs: {
          images: [
            {
              alt: '',
              src: `${mediaRoot}/packs-3.jpg`
            },
            {
              alt: '',
              src: `${mediaRoot}/packs-2.jpg`
            },
            {
              alt: '',
              src: `${mediaRoot}/packs-1.jpg`
            }
          ],
          title: 'All packs work perfectly on DaVinci Resolve’s free version on both Mac and Windows',
          text: 'Our products empower professionals and enthusiasts alike across the global community of video editors. With multi-platform capabilities, you can handle complex motion graphics tasks more efficiently than ever before. And the results are breathtaking!',
          icons: ['apple', 'windows']
        },
        footer: {
          images: {
            bg: {
              alt: 'Woman in studio, sitting in front of a work desk, reading project briefing',
              src:  `${mediaRoot}/footer.jpg`
            }
          },
          title: 'Now you can apply the very expertise that Hollywood studios use to your everyday editing',
          text: 'We are continually working on new products, so stay tuned for new ones.',
          subscribe: 'Subscribe to our newsletter →',
          icons: [
            {
              name: 'facebook',
              //- icon: '',
              link: ''
            },
            {
              name: 'twitter',
              //- icon: '',
              link: ''
            },
            {
              name: 'instagram',
              //- icon: '',
              link: ''
            },
            {
              name: 'youtube',
              icon: 'youtube-play',
              link: ''
            }
          ]
        }
      }

  body
    //- include includes/submenu.pug
    include includes/vendor/navbar.pug
    //- .top-bar
    main.DaVinciResolve
      include includes/header.pug
      .gradient
      //- plugins
      - var plugins = data.plugins
      section.section.section--plugins
        .container
          .row
            .col-12
              .section__head.text-center
                h2.section__title= plugins.title
                p.section__text= plugins.subtitle
              .section__content
                //- - for(let index = 0; index < plugins.plugins; index++)
                each plugin, index in plugins.plugins
                  a(href="http://", target="_blank", rel="noopener noreferrer").plugin__wrapper
                    .plugin
                      img(src=plugin.src, alt=plugin.alt)
                      .plugin__body
                        h3.plugin__title= plugin.title
                        p.plugin__text= plugin.text
            .col-12.text-center
              a.btn.btn-more(href="http://", target="_blank", rel="noopener noreferrer")= plugins.button
      //- baubles
      - var baubles = data.baubles
      section.section.section--baubles
        .container
          .row.align-items-center
            .col-6
              .section__head
                h2.section__title= baubles.title
                p.section__text= baubles.text
            .col-6
              .baubles
                each bauble, index in baubles.baubles
                  p.bauble(data-index=index, style=`--bauble-index: ${index}`)= bauble.text

      - var slider = data.slider

      section#carouselSection.bg--dark.text--light.slider.carousel.slide.carousel-fade(data-bs-ride="carousel" data-bs-interval="5000")
        .slider__bg
          .carousel-inner
            each image, index in slider.images
              div(class=`carousel-item ${index === 0 ? 'active': ''}`)
                - var image = image.src
                - var alt = image.alt
                - var width = '2400'
                - var height = '1078'
                - var sizes = ''
                include includes/components/image.pug
                //- img(src=image.src, alt=image.alt)
        .slider__content
          .container
            .row
              .col-lg-6.offset-lg-6
                //- .section__content

                .section__head
                  .carousel-indicators
                    each image, index in slider.images
                      button(
                        class=`${index === 0 ? 'active' : ''}`
                        type='button'
                        data-bs-target='#carouselSection'
                        data-bs-slide-to=index
                        aria-current=`${index === 0}`
                        aria-label=`Slide ${index + 1}`)= image.label
                  .carousel-inner__text
                    each image, index in slider.images
                      div(class=`carousel-item__text ${index === 0 ? 'active': ''}` data-index=`${index}`)
                        h2.section__title(style=`--text-index: ${0}`)= image.title
                        p.section__text(style=`--text-index: ${1}`)= image.text
                        a.btn.btn-more.btn-more--transparent(href="http://", target="_blank", rel="noopener noreferrer" style=`--text-index: ${2}` data-index=`${index}`)= plugins.button
      .gradient__bg.text--light.bg--dark
        .background
          .gradient-floating
            .circle.blue
            .circle.red

        - var free = data.free
        - var freeImage = free.images[0]
        section.section.section--free
          .container
            .row.align-items-center
              .col-md-6
                - var image = freeImage.src
                - var alt = freeImage.src
                - var width = '1280'
                - var height = '721'
                - var sizes = '(max-width: 768px) 100vw, 960px'
                - var noBlurbg = true
                include includes/components/image.pug
              .col-md-6
                .section__head
                  h2.section__title= free.title
                  p.section__text= free.text
                  a.btn.btn-pink(href="https://www.motionvfx.com/store,mhellodv,p3607.html", target="_blank", rel="noopener noreferrer")= free.button
        - var packs = data.packs
        - var packsImages = packs.images
        section.section.section--packs
          .container
            .row.align-items-center
              .col-6
                .section__head
                  .os-icons
                    - var icons = packs.icons
                    div(class=`os-icon ${icons[0]}`)
                      include includes/components/icon-apple.pug 
                    | or 
                    div(class=`os-icon ${icons[1]}`)
                      include includes/components/icon-windows.pug
                  h2.section__title= packs.title
                  p.section__text= packs.text
              .col-6
                .packs__image__comp
                  each image, index in packsImages
                    - var image = image.src
                    - var alt = image.src
                    - var width = '1280'
                    - var height = '721'
                    - var sizes = '(max-width: 100vw) 50vw'
                    include includes/components/image.pug


      include includes/footer.pug
