doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title
      | {% if product.productdetails.meta_title %}{{
      | product.productdetails.meta_title }}{% else %}{% trans %}motionVFX -
      | Original Home of Apple Motion Templates and Final Cut Pro X Plugins{%
      | endtrans %}{% endif %}
    link(rel='shortcut icon' href='css/static/images/favicon.png' type='image/png')
    //- FONTS
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

    link(href='css/custom_pages_wrap.css' rel="stylesheet" type="text/css")
    link(href='css/bootstrap-4.1.3.min.css' rel="stylesheet" type="text/css")
    link(href='css/menu.css' rel='stylesheet' type="text/css")

    script(src='scripts/jquery-3.4.1.min.js')
    script(src='scripts/bootstrap-4.1.3.bundle.min.js')
    script(src='https://s3.motionvfx.com/mvfxpublic/products/templates/source/media/scroll_to_anchor.js')
    script(src='scripts/custom_pages_wrap.js')

    script(src='scripts/scroll_to_anchor.js')
    script(src='scripts/menu.js')

    - var getParsedImage = (name, type = "placeholder") => `\${require('${name}').${type}}`

  body
    include includes/submenu.pug
    include includes/navbar.pug
    .top-bar
    main.mInstaller
      include includes/header.pug
      a(href="#" class="scroll-to-btn" onclick="scrollToAnchor('packs');" tabindex="-1")
      a(href="#", name='packs', rel="noopener noreferrer") 
      include includes/packs.pug
      .bg--dark.tutorial
        a.nav(name="trailer")
        - var title = "Watch trailer"
        - var subtitle = "View them in action!"
        - var text = "See the power of this plugin in action!"
        - var videoLink = "//player.vimeo.com/video/110782329?title=0&amp;byline=0&amp;portrait=0"
        - var videoTitle = 'mLut Insta Pack trailer'
        include includes/trailer.pug

      -
        var showcaseData = [
          {
            src: ['/images/mHUD_gfx_1.jpg'],
            title: 'A futuristic power-up for your edits',
            alt: 'alt',
            text: 'Add mind-blowing HUD details and create stunningly spectacular scenes.'
          },
          {
            src: ['/images/mHUD_gfx_2.jpg'],
            title: 'A wide selection of diversified layouts',
            alt: 'alt',
            text: 'Create countless modern interfaces, display screens and holographic projections.'
          },
          {
            src: ['/images/mHUD_gfx_3.jpg'],
            title: 'Add extra depth by moving layers in space',
            alt: 'alt',
            text: 'Design 3D compositions with footage and motion design.'
          }
        ]

      section.showcase
        each val, index in showcaseData
          - var offset = index + 1
          div(class=`case__item case__item--${index}`)
            .case__item__bg
              - var image = val.src
              - var alt = val.alt
              - var imageWidth = '2560'
              - var imageHeight = '1150'
              - var sizes= "100vw"
              include includes/components/image.pug
            .case__item__body
              .container
                .row
                  div(class=`col-md-6 ${offset % 2 !== 0 ? '' : 'offset-lg-6'}`)
                    .section__head
                      h2.section__title.deco=val.title
                      p.section__text.section__text--inset #{'These diversified and customizable footage shifts use shadow and darkness to switch between the videos and build up the suspense.'}
      include includes/presets.pug
      a.nav(href="#" name='specs', rel="noopener noreferrer")
      .bg--light
      a.nav(name="tutorial")
      - var title = "Watch tutorial"
      - var subtitle = "Gen the know-how!"
      - var text = "Learn how to ust the plugin to create stunning design"
      - var videoLink = "https://www.youtube.com/embed/9tF-MzNxz4c?rel=0"
      - var videoPlaceholder = "https://i.ytimg.com/vi/9tF-MzNxz4c/maxresdefault.jpg"
      - var videoTitle = 'mLut Insta Pack tutorial'
      include includes/trailer.pug
      include includes/tech-spec.pug
      include includes/minstaller.pug
      include includes/footer.pug
