- var getParsedImage = (name, type = "placeholder") => `\${require('./images/${name}.jpg').${type}}`

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Responsive test
    //- script
      include scripts/loader.js
  body.loading
    .img-lazy(style=`
      position: relative;
      width: 50%;
    `)
      .placeholder(style=`
        padding-bottom: calc(${getParsedImage('video_thumbnail', 'height')} / ${getParsedImage('video_thumbnail', 'width')} * 100%);
        background: url(${getParsedImage('video_thumbnail')}) center no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
      `)
      img(
        alt="",
        data-src=getParsedImage('video_thumbnail'),
        data-srcset=getParsedImage('video_thumbnail', 'srcSet'),
        sizes='(max-width: 1024px) 25vw, 50vw',
        style=`
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        `
      )
