- var placeholder = getParsedImage(image)
- var srcset = getParsedImage(image, 'srcSet')

div(id=id).img-lazy(style=`
  ${noBlurbg ? '' : 'background: url(' + placeholder + ') center /cover no-repeat;'}
`)
  .placeholder(style=`
      padding-bottom: calc(${height} / ${width} * 100%);
      background: url(${placeholder}) center no-repeat;
      background-size: cover;
  `)
  img(
    alt=alt,
    data-src=placeholder,
    data-srcset=srcset,
    sizes=sizes
  )
