- var footer = data.footer
- var footerImage = footer.images.bg
- var footerIcons = footer.icons
- var footerSubscribe = footer.subscribe

//- svg(xmlns='http://www.w3.org/2000/svg' version='1.1' baseprofile='full')
  mask#m1(maskunits='objectBoundingBox' maskcontentunits='objectBoundingBox')
    lineargradient#g(gradientunits='objectBoundingBox' x1='0' y1='0' x2='0' y2='1')
      stop(stop-color='white' offset='0')
      stop(stop-color='white' stop-opacity='0' offset='1')

    //- lineargradient#g(gradientunits='objectBoundingBox' x2='1')
      stop(stop-color='white' offset='0')
      stop(stop-color='white' stop-opacity='0' offset='1')
    rect(x='0' y='0' width='1' height='1' fill='url(#g)')

section.footer.text--light
  //- - var image = `/images/footer_3.jpg`
  //- - var alt = 'Woman in cinematic alley'
  //- - var width = '2560'
  //- - var height = '1150'
  //- include components/image-background.pug
  .image__background()
    //- img(src=`/images/footer.jpg`, alt="", srcset="")
    - var image = footerImage.src
    - var alt = footerImage.alt
    - var imageWidth = '2560'
    - var imageHeight = '1150'
    - var sizes = '(max-width: 500px) 200vw'
    include components/image.pug
  .container
    .row
      .col-lg-6.offset-lg-6.text-center.text-md-left
        .footer__content
          .section__head
            h2.footer__title.section__title= footer.title
            p.footer__text.section__text= footer.text
            a.btn.btn-more.btn-more--transparent(href="http://", target="_blank", rel="noopener noreferrer")= footer.subscribe
            ul.list-unstyled.list-inline.social__icons
              each icon, index in footerIcons
                li.list-inline-item
                  a(href=icon.link, target="_blank", rel="noopener noreferrer" title=icon.name)
                    i(class=`icon-${icon.name}`) !{icon.icon}
