section.header.text--light.text-center
  .header__bg(style="opacity:0")
    - var image1 = `/images/mHUD_top.jpg`
    - var sizes = ''
    - var alt = 'Happy couple'
    - var imageWidth = '2400'
    - var imageHeight = '1172'
    - var placeholder = getParsedImage(image1)
    - var srcset = getParsedImage(image1, 'srcSet')
    img(
      alt=alt,
      height=height
      data-src=getParsedImage(image1, 'src'),
      data-srcset=srcset,
      sizes=sizes || '(max-width: 1024px) 100vw'
    )

  .container
    .row
      .col-12
        .header__content.section__text__content
          .header__logo
            - var image = `/images/logo_mHUD.png`
            - var alt = 'mTransition Fade logo'
            - var imageWidth = '900'
            - var imageHeight = '400'
            - var placeholder = getParsedImage(image)
            - var srcset = getParsedImage(image, 'srcSet')
            img(
              style="opacity:0"
              alt=alt,
              height=height
              data-src=getParsedImage(image, 'src'),
              data-srcset=srcset,
              sizes=sizes || '(max-width: 1024px) 50vw, 100vw'
            )
            p.header__subtitle(style="opacity:0") Pack Of Trackable Info Callouts For mTracker 3D.
          p.header__text.header__text--bottom *PRE-KEYED PRORES 4444 FILES FOR ANY COMPOSITING SOFTWARE INCLUDED.
