- var image1 = `/images/mHUD_top.jpg`
section.header.text--light.text-center(style=`background: url(${getParsedImage(image1)}) center / cover no-repeat`)
  .header__bg(style="opacity:0")
    //- - var image1 = `/images/mHUD_top.jpg`
    - var sizes = '(max-width: 768px) 200vw'
    - var alt = 'Happy couple'
    - var imageWidth = '2400'
    - var imageHeight = '1172'
    - var placeholder = getParsedImage(image1)
    - var srcset = getParsedImage(image1, 'srcSet')
    img(
      alt=alt,
      height=height
      data-src=getParsedImage(image1, 'src'),
      data-srcset=srcset,
      sizes=`(max-width: 1024px) 150vw
             (min-width: 1024px) 100vw`
    )

  .container
    .row
      .col-12
        .header__content.section__text__content
          .header__logo
            - var image = `/images/logo_mHUD.png`
            - var alt = 'hHud logo'
            - var imageWidth = '900'
            - var imageHeight = '400'
            - var placeholder = getParsedImage(image)
            - var srcset = getParsedImage(image, 'srcSet')
            -
              var sizes = `(max-width: 768px) 200px, 
                           320px`
            img(
              style="opacity:0"
              alt=alt,
              height=height
              data-src=getParsedImage(image, 'src'),
              data-srcset=srcset,
              sizes=sizes || '(max-width: 1024px) 50vw, 100vw'
            )
            p.header__subtitle(style="opacity:0") 50 DIGITAL DISPLAY ELEMENTS FOR FCPX + MORE*
          p.header__text.header__text--bottom *PRE-KEYED HEVC FILES FOR ANY COMPOSITING SOFTWARE INCLUDED
