section.header.text--light.text-center
  .header__bg(style="opacity:0")
    img(data-src='/images/header_bg.jpg', alt="")
    //- video(data-src='https://s3.motionvfx.com/mvfxpublic/products/templates/1322/media/Top2.mp4' controls=false, autoplay, loop, muted, playsinline type='video/mp4')
  .container
    .row
      .col-12
        .header__content.section__text__content
          .header__logo
            //- - var image = `/images/logos.png`
            //- - var alt = 'mTransition Fade logo'
            //- - var imageWidth = '1200'
            //- - var imageHeight = '737'
            //- - var placeholder = getParsedImage(image)
            //- - var srcset = getParsedImage(image, 'srcSet')
            //- img(
            //-   style="opacity:0"
            //-   alt=alt,
            //-   height=height
            //-   data-src=getParsedImage(image, 'src'),
            //-   data-srcset=srcset,
            //-   sizes=sizes || '(max-width: 1024px) 50vw, 100vw'
            //- )
            //- img(data-src=placeholders.image.logo(), alt="", srcset="")
            include components/logo.pug
            p.header__subtitle(style="opacity:0") Censoring plugin for FCPX and Motion 5
          .mocha-info(style="opacity:0;")
            .mocha-info__content
              | New Apple Silicon&hairsp;&ndash;&hairsp;ready version of
              img(data-src='https://s3.motionvfx.com/mvfxpublic/products/templates/1338/media/mocha.png' width='152' height='210' alt='Mocha')

        //- .header__promo.animated.animation--fade.animation--bottom
