//- - var header = data.header
//- - var headerBg = header.images.bg
//- - var headerLogo = header.images.logo

section.header.text--light.text-center
  .header__bg(style="opacity:1")
    //- img(data-src=`/images/header.jpg`, alt="", srcset="")
    //- - var image = headerBg.src
    //- - var alt = headerBg.alt
    //- - var width = '2560'
    //- - var height = '1150'
    //- - var sizes = '(max-width: 768px) 300vw'
    //- include components/image-background.pug
    //- - var image = `/images/header_bg.jpg`
    //- - var alt = 'People in white clothes with censored eyes, looking at their mobile devices'
    //- - var imageWidth = '2005'
    //- - var imageHeight = '940'
    //- - var placeholder = getParsedImage(image)
    //- - var srcset = getParsedImage(image, 'srcSet')
    //- img(
    //-   alt=alt,
    //-   height=height
    //-   data-src=getParsedImage(image, 'src'),
    //-   data-srcset=srcset,
    //-   sizes=sizes || '(max-width: 1024px) 300vw, 100vw'
    //- )
    //- video(data-src='https://s3.motionvfx.com/mvfxpublic/products/templates/1322/media/Top2.mp4' controls=false, autoplay, loop, muted, playsinline type='video/mp4')
  .container
    .row
      .col-12
        .header__content.section__text__content
          //- .header__logo
            - var image = headerLogo.src
            - var alt = headerLogo.alt
            - var imageWidth = '1200'
            - var imageHeight = '737'
            - var placeholder = getParsedImage(image)
            - var srcset = getParsedImage(image, 'srcSet')
            img(
              style="opacity:0"
              alt=alt,
              height=height
              data-src=getParsedImage(image, 'src'),
              data-srcset=srcset,
              sizes=sizes || '(max-width: 1024px) 50vw, 100vw'
            )
            img(data-src=placeholders.image.logo(), alt="", srcset="")
            img(data-src=placeholders.image.logo(), alt="", srcset="")
            p.header__subtitle(style="opacity:0")= header.title
