- var header = data.header
- var headerBg = header.images.bg
- var headerLogo = header.images.logo
- var headerDvr = header.images.dvr

section.header.text--light.text-center
  .header__bg(style="opacity:0")
    - var image = headerBg.src
    - var alt = headerBg.alt
    - var imageWidth = '2560'
    - var imageHeight = '1150'
    - var placeholder = 'data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs='
    //- getParsedImage(image)
    - var srcset = getParsedImage(image, 'srcSet')
    - var sizes = '(max-width: 768px) 200vw, 100vw'
    include components/image.pug
    //- img(
    //-   alt=alt,
    //-   height=height
    //-   data-src=getParsedImage(image, 'src'),
    //-   data-srcset=srcset,
    //-   sizes=sizes || '(max-width: 1024px) 300vw, 100vw'
    //- )
  .container
    .row
      .col-12
        .header__content.section__text__content
          .header__logo(style=`--h-index: 0; opacity: 0`)
            - var image = headerLogo.src
            - var alt = headerLogo.alt
            - var imageWidth = '1200'
            - var imageHeight = '149'
            //- - var placeholder = getParsedImage(image)
            - var srcset = getParsedImage(image, 'srcSet')
            img(
              width=imageWidth
              height=imageHeight
              alt=alt,
              data-src=getParsedImage(image, 'src'),
              data-srcset=srcset,
              sizes='800px'
            )
          p.header__subtitle(style="--h-index: 1; opacity: 0")= header.title
          .dvr(style=`--h-index: 2; opacity: 0`)
            - var image = headerDvr.src
            - var alt = headerDvr.alt
            - var imageWidth = '64'
            - var imageHeight = '64'
            //- - var placeholder = getParsedImage(image)
            - var srcset = getParsedImage(image, 'srcSet')
            - var sizes = '128px'
            img(
              width=imageWidth
              height=imageHeight
              alt=alt,
              data-src=getParsedImage(image, 'src'),
              data-srcset=srcset,
              sizes='800px'
            )
          //- img.dvr(data-src=headerDvr.src, alt="", srcset="")
          //- img(data-src=placeholders.image.logo(), alt="", srcset="")
