- var header = data.header
- var headerBg = header.images.bg
- var headerLogo = header.images.logo
- var headerDvr = header.images.dvr

section.header.text--light.text-center
  .header__bg(style="opacity:1")
    - var image = headerBg.src
    - var alt = headerBg.alt
    - var imageWidth = '2560'
    - var imageHeight = '1150'
    - var placeholder = 'data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs='
    //- getParsedImage(image)
    - var srcset = getParsedImage(image, 'srcSet')
    include components/image.pug
    //- img(
    //-   alt=alt,
    //-   height=height
    //-   data-src=getParsedImage(image, 'src'),
    //-   data-srcset=srcset,
    //-   sizes=sizes || '(max-width: 1024px) 300vw, 100vw'
    //- )
  .container
    .row
      .col-12
        .header__content.section__text__content
          .header__logo
            - var image = headerLogo.src
            - var alt = headerLogo.alt
            - var imageWidth = '1200'
            - var imageHeight = '737'
            - var placeholder = getParsedImage(image)
            - var srcset = getParsedImage(image, 'srcSet')
            img(
              style="opacity:0"
              alt=alt,
              height=height
              data-src=getParsedImage(image, 'src'),
              data-srcset=srcset,
              sizes=sizes || '(max-width: 1024px) 50vw, 100vw'
            )
          p.header__subtitle(style="opacity:0")= header.title
          img.dvr(data-src=headerDvr.src, alt="", srcset="")
          //- img(data-src=placeholders.image.logo(), alt="", srcset="")
