- var logosServerUrl = 'https://s3.motionvfx.com/mvfxpublic/products/templates/1305/media/'

.logos-images
  img.img-fluid.logos-desktop(src=`${logosServerUrl}logos_mobile.png`
    alt='Application logos'
    srcset=`${logosServerUrl}logos_desktop.png 1300w,
            ${logosServerUrl}logos_mobile.png 800w`,
    sizes="100vw"
  )