- var imagesRoot = mediaRootUrl

- var t11 = "What are 3D LUTs?"
- var p11 = "A color look-up table is a matrix of data containing \ninformation used to change an input range of colors \ninto another one. It converts the hue of each pixel \ninto a counterpart from the source pattern."
- var p12 = "LUTs are widely used in professional image processing \napplications, e.g. FCPX, Premiere Pro, DaVinci Resolve, \nAvid Media Composer, SpeedGrade, Motion, Nuke, \nPhotoshop, After Effects, Fusion and many more…"
- var img11 = `${imagesRoot}/woman_and_dog.jpg`
- var img11After = `${imagesRoot}/woman_and_dog_lut.jpg`
- var img12 = `${imagesRoot}/sofa.jpg`
- var img12After = `${imagesRoot}/sofa_lut.jpg`

- var t21 = "Make your shots \ntheir own kind \nof beautiful"
- var img21 = `${imagesRoot}/woman_in_afro.jpg`
- var img21After = `${imagesRoot}/woman_in_afro_lut.jpg`

- var t31 = "An instant pro vibe \nfor any video!"
- var p31 = "Make your edits unique with professional gradings and treat your viewers to professional-looking content that makes a true impact."
- var img31 = `${imagesRoot}/waffles.jpg`
- var img31After = `${imagesRoot}/waffles_lut.jpg`

section.mlut-mosaic
  .container
    .row
      .col-md-6.order-2.order-md-1
        .mosaic-item-wrapper.mosaic-item-wrapper--big.animated.animated--fade--bottom
          .ba-slider
            - var image = img11After
            - var imageWidth = '1800'
            - var imageHeight = '1800'
            include components/image.pug
            .resize
              - var image = img11
              include components/image.pug
      .col-md-6.order-1.order-md-2
        .mosaic__text
          h3.animated.animated--fade--bottom #{t11}
          p.mosaic-paragraph.mosaic-paragraph--offset-right.animated.animated--fade--bottom #{p11}
          p.mosaic-paragraph.animated.animated--fade--bottom #{p12}
        .mosaic-item-wrapper.mosaic-item-wrapper--small.mosaic-item-wrapper--underlay.animated.animated--fade--bottom
          .ba-slider
            - var image = img12After
            - var imageWidth = '1360'
            - var imageHeight = '1360'
            include components/image.pug
            .resize
              - var image = img12
              include components/image.pug
      .col-md-6.order-3
        .mosaic__text
          h3.animated.animated.animated--fade--bottom.mosaic__text-med #{t21}
      .col-md-6.order-4
        .mosaic-item-wrapper.mosaic-item-wrapper--underlay.mosaic-item-wrapper--medium.animated.animated--fade--bottom
          .ba-slider
            - var image = img21After
            - var imageWidth = '1800'
            - var imageHeight = '956'
            include components/image.pug
            .resize
              - var image = img21
              include components/image.pug

      .col-md-6.order-12.order-md-11
        .mosaic-item-wrapper.mosaic-item-wrapper--medium--2.animated.animated--fade--bottom
          .ba-slider
            - var imageWidth = '1360'
            - var imageHeight = '1360'
            - var image = img31After
            include components/image.pug
            .resize
              - var image = img31
              include components/image.pug
      .col-md-6.order-11.order-md-12
        .mosaic__text
          h3.animated.animated--fade--bottom #{t31}
          p.mosaic-paragraph.mosaic-paragraph--offset-right.animated.animated--fade--bottom #{p31}
