- var imagesRoot = "images"

- var t11 = "What are 3D LUTs?"
- var p11 = "A color look-up table is a matrix of data containing \ninformation used to change an input range of colors \ninto another one. It converts the hue of each pixel \ninto a counterpart from the source pattern."
- var p12 = "LUTs are widely used in professional image processing \napplications, e.g. FCPX, Premiere Pro, DaVinci Resolve, \nAvid Media Composer, SpeedGrade, Motion, Nuke, \nPhotoshop, After Effects, Fusion and many more…"
- var img11 = `${imagesRoot}/woman_and_dog.jpg`
- var img12 = `${imagesRoot}/woman_and_dog.jpg`

- var t21 = "Make your shots \ntheir own kind \nof beautiful"
- var img21 = `${imagesRoot}/woman_and_dog.jpg`

- var t31 = "An instant pro vibe \nfor any video!"
- var p31 = "Make your edits unique with professional gradings and treat your viewers to professional-looking content that makes a true impact."
- var img31 = `${imagesRoot}/waffles.jpg`

section.mlut-mosaic
  .container
    .row
      .col-6
        .mosaic-item-wrapper.mosaic-item-wrapper--big
          img.img-fluid.mosaic-item.animated.animated--fade--bottom(src=img11, alt="", loading="lazy")
      .col-6
        h3.animated.animated--fade--bottom #{t11}
        p.mosaic-paragraph--offset-right.animated.animated--fade--bottom #{p11}
        p.mosaic-paragraph.animated.animated--fade--bottom #{p12}
        .mosaic-item-wrapper.mosaic-item-wrapper--small.mosaic-item-wrapper--floating.mosaic-item-wrapper--underlay
          img.img-fluid.mosaic-item.animated.animated--fade--bottom(src=img12, alt="", loading="lazy")

      .col-6
        h3.animated.animated--fade--bottom #{t21}
      .col-6
        .mosaic-item-wrapper
          img.img-fluid.animated.animated--fade--bottom(src=img21, alt="", loading="lazy")

      .col-6
        .mosaic-item-wrapper
          img.img-fluid.animated.animated--fade--bottom(src=img31, alt="", loading="lazy")
      .col-6
        h3.animated.animated--fade--bottom #{t31}
        p.mosaic-paragraph--offset-right.animated.animated--fade--bottom #{p31}
