-
  var sections = [
    { 'name':'Campaign_Element', 'label': 'Campaign', 'count': 20,},
    { 'name':'Donation', 'label': 'Donation', 'count': 12,},
    { 'name':'Infographic', 'label': 'Infographic', 'count': 7,},
    { 'name':'List', 'label': 'List', 'count': 7,},
    { 'name':'Typography', 'label': 'Typography', 'count': 14,}
  ]
- var totalIndex = sections.reduce((a, b) => a + b.count, 0 )

//- - var entriesLength = 
- var notCollapsedItems = 4
- var isEven = (data) => data % 2 == 0

section.presets.bg--dark.text-center
  //- .image__background__shadow
  //- - var image = `/images/mHUD_gfx_prev.jpg`
  //- - var alt = 'Person clibing ladder overlayed with mHUD gui'
  //- - var imageHeight = 1
  //- - var imageWidth = 1
  //- include components/image-background.pug
  .container
    .row
      .col-12
        .section__head
          p.section__display=totalIndex
          h2.section__title=`donation and fanbase-building tools`
          p.section__subtitle=`HOVER OR TAP TO VIEW ANIMATIONS`
        .section__body
          - var currentIndex = 1
          - var sectionItems = 0
          each section in sections
            - var minColumns = 2
            - sectionItems = currentIndex + section.count - 1
            .videoList.center
              .section__title=section.label
              .cover.product-list-wrapper
                #productList.product-list
                  .container.site-content.container-lg
                    #productsContainer.row.product-grid.justify-content-center
                      //- - for(var i = 1; i <= entriesLength; i++)
                        - var num = i.toString().length < 2 ? `0${i}` : i
                        - var imageName = `/images/img/${num}`
                        - var videoName = `/images/video/${num}`
                        - var isEven = entriesLength % 2 == 0
                      
                      - var localLoopIndex = 1
                      - for(var i = currentIndex; i <= sectionItems; i++)
                        - var baseUrl = '/images/presets'
                        //- - var baseUrl = 'https://s3.motionvfx.com/mvfxpublic/images/mhud'

                        - var num = i.toString().length < 2 ? `0${i}` : i
                        - var imageName = `${baseUrl}/jpg/${section.name}_${num}`
                        - var videoName = `${baseUrl}/mp4/${section.name}_${num}`
                        div(class=`col-6 col-lg-4 product ${localLoopIndex > notCollapsedItems ? `collapse prev-collapse-${section.label.toLowerCase()}` : ''}` id=`prev-collapse-${i}`)
                          - localLoopIndex++
                          a
                            .product-preview
                              img.img-fluid(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQkAAACVCAQAAADhssdjAAABEElEQVR42u3SMQ0AAAzDsJU/6d1l0MOGECUHJRJgCSyBJbAElsASWAJLYAksgSWwBJbAElgCS2AJsASWwBJYAktgCSyBJbAElsASWAJLYAksgSWwBFgCS2AJLIElsASWwBJYAktgCSyBJbAElsASWAIsgSWwBJbAElgCS2AJLIElsASWwBJYAktgCSwBlsASWAJLYAksgSWwBJbAElgCS2AJLIElsASWwBISYAksgSWwBJbAElgCS2AJLIElsASWwBJYAktgCbAElsASWAJLYAksgSWwBJbAElgCS2AJLIElsARYAktgCSyBJbAElsASWAJLYAksgSWwBJbAElgCLIElsASWwBJYAktgCSyBJRj2xckAllbmyYMAAAAASUVORK5CYII=' width='600' height='338')
                              .preview-wrapper.zoom(data-mp4-url=`${videoName}.mp4`)
                                .preview-image-container
                                  img.img-fluid(src=`${imageName}.jpg` alt='{{ product.head_info }}' width='600' height='338' onerror="this.style.display='none'" onload="this.style.display='block'")
                                .preview-video-container(style='display: none')

                      - if (section.count > notCollapsedItems)
                        .col-12.col-btn-collapse
                          button.button.btn-collapse(type='button' data-toggle='-collapse' data-target=`.prev-collapse-${section.label.toLowerCase()}` aria-expanded='false')
                            span
                              span.label-collapsed Show more
                              span.label-expanded Collapse
                              |  (#{`${section.count - notCollapsedItems}`})
                            svg.btn-collapse-arrow(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 36.6 61.5' style='enable-background:new 0 0 36.6 61.5;' xml:space='preserve' height='20')
                              style(type='text/css').
                                .st0{fill:none;stroke:currentColor;stroke-width:8;stroke-miterlimit:10;}
                              polyline.st0(points='2.8,58.6 30.9,30.5 3.2,2.8 ')


    //- .row.text-left
      .col-12
        h2.section__title.presets__title--2
          | #{"Easily \nCustomizable"}
    //- .row.text-left
      .col-10.offset-1
        .row
          .col-4
            p.section__text
              b On-screen Controls 
              | #{"\nAut the peset in place directly in the viewport"}
          .col-4
            p.section__text
              b Colorization & Glow 
              | #{"\nFind the perfect look to match your elit"}
          .col-4
            p.section__text
              b Adjustable Animation 
              | #{"\nTweak the movement to suit your nerds"}