-
  //- var sections = [
  //-   { 'name':'Circural', 'label': 'Circural', 'count': 10,},
  //-   { 'name':'Complex', 'label': 'Complex', 'count': 5,},
  //-   { 'name':'Linear', 'label': 'Linear', 'count': 10,},
  //-   { 'name':'Loaders', 'label': 'Loaders', 'count': 10,},
  //-   { 'name':'Miscellaneous', 'label': 'Miscellaneous', 'count': 5,},
  //-   { 'name':'Warning', 'label': 'Warning', 'count': 10,},
  //- ]
//- - var totalIndex = sections.reduce((a, b) => a + b.count, 0 )

- var entriesLength = 5
- var collapseAfterLength = 5
- var isEven = (data) => data % 2 == 0

section.presets.bg--dark.text-center
  //- .image__background__shadow
  //- - var image = `/images/mHUD_gfx_prev.jpg`
  //- - var alt = 'Person clibing ladder overlayed with mHUD gui'
  //- - var imageHeight = 1
  //- - var imageWidth = 1
  //- include components/image-background.pug
  .container
    .row
      .col-12
        .section__head
          //- p.section__display=50
          h2.section__title View examples of mCensor in action
          p.section__subtitle Hover or tap to view animations
        .section__body
          //- - var currentIndex = 1
          //- - var sectionItems = 0
          //- each section in sections
          //-   - var minColumns = 2
          //-   <!--#{sectionItems = currentIndex + section.count - 1}-->
          .videoList.center
            .cover.product-list-wrapper
              #productList.product-list
                .container.site-content.container-lg
                  #productsContainer(class=`row product-grid ${isEven ? 'justify-content-center' : ''}`)
                    - for(var i = 1; i <= entriesLength; i++)
                      - var num = i.toString().length < 2 ? `0${i}` : i
                      -
                        var imageName = `https://s3.motionvfx.com/mvfxpublic/images/mcensor/prevs/${num}.jpg`
                          //- `/images/img/${num}.jpg`
                      -
                        var videoName = `https://s3.motionvfx.com/mvfxpublic/images/mcensor/prevs/${num}.mp4`
                          //- `/images/video/${num}.mp4`

                      div(class=`col-6 col-lg-4 product ${i > collapseAfterLength ? 'collapse prev-collapse' : ''} offset-lg-0` id=`prev-collapse-${i}`)
                        a
                          .product-preview
                            img.img-fluid(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQkAAACVCAQAAADhssdjAAABEElEQVR42u3SMQ0AAAzDsJU/6d1l0MOGECUHJRJgCSyBJbAElsASWAJLYAksgSWwBJbAElgCS2AJsASWwBJYAktgCSyBJbAElsASWAJLYAksgSWwBFgCS2AJLIElsASWwBJYAktgCSyBJbAElsASWAIsgSWwBJbAElgCS2AJLIElsASWwBJYAktgCSwBlsASWAJLYAksgSWwBJbAElgCS2AJLIElsASWwBISYAksgSWwBJbAElgCS2AJLIElsASWwBJYAktgCbAElsASWAJLYAksgSWwBJbAElgCS2AJLIElsARYAktgCSyBJbAElsASWAJLYAksgSWwBJbAElgCLIElsASWwBJYAktgCSyBJRj2xckAllbmyYMAAAAASUVORK5CYII=' width='600' height='338')
                            .preview-wrapper.zoom(data-mp4-url=`${videoName}`)
                              .preview-image-container
                                img.img-fluid(src=`${imageName}` alt='{{ product.head_info }}' width='600' height='338' onerror="this.style.display='none'" onload="this.style.display='block'")
                              .preview-video-container(style='display: none')

                    //- .col-12.col-btn-collapse
                      button.button.btn-collapse(type='button' data-toggle='-collapse' data-target='.prev-collapse' aria-expanded='false')
                        span
                          span.label-collapsed Show more
                          span.label-expanded Collapse
                          |  (#{`${entriesLength - collapseAfterLength}`})
                        svg.btn-collapse-arrow(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 36.6 61.5' style='enable-background:new 0 0 36.6 61.5;' xml:space='preserve' height='20')
                          style(type='text/css').
                            .st0{fill:none;stroke:currentColor;stroke-width:8;stroke-miterlimit:10;}
                          polyline.st0(points='2.8,58.6 30.9,30.5 3.2,2.8 ')

          //- .examples <---------------------- old one
            //- .section__title=section.label
            .videoList
              .product-grid
                //- - var localLoopIndex = 1
                - for(var i = 1; i <= entriesLength; i++)
                  - var num = i.toString().length < 2 ? `0${i}` : i
                  div(class=`example__item ${i > collapseAfterLength ? `collapse prev-collapse-preset` : ''}`)
                    div(class=`product`)
                      .product-preview
                        //- img.img-fluid(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQkAAACVCAQAAADhssdjAAABEElEQVR42u3SMQ0AAAzDsJU/6d1l0MOGECUHJRJgCSyBJbAElsASWAJLYAksgSWwBJbAElgCS2AJsASWwBJYAktgCSyBJbAElsASWAJLYAksgSWwBFgCS2AJLIElsASWwBJYAktgCSyBJbAElsASWAIsgSWwBJbAElgCS2AJLIElsASWwBJYAktgCSwBlsASWAJLYAksgSWwBJbAElgCS2AJLIElsASWwBISYAksgSWwBJbAElgCS2AJLIElsASWwBJYAktgCbAElsASWAJLYAksgSWwBJbAElgCS2AJLIElsARYAktgCSyBJbAElsASWAJLYAksgSWwBJbAElgCLIElsASWwBJYAktgCSyBJRj2xckAllbmyYMAAAAASUVORK5CYII=')
                        div(style="padding-bottom: calc(226 / 400 * 100%); background: #000")
                        .preview-wrapper.zoom(data-mp4-url=`/images/video/${num}.mp4`)
                          .preview-image-container
                            img.img-fluid(src=`/images/img/${num}.jpg` alt='Fade' onerror="this.style.display='none'" onload="this.style.display='block'" style='display: block;')
                            .preview-video-container(style='height: 198.781px; display: none;')
              //- - if (localLoopIndex > collapseAfterLength)
              button.button.btn-collapse(type='button' data-toggle='collapse' data-target=`.prev-collapse-preset` aria-expanded="false")
                span.label-collapsed show more
                span.label-expanded Collapse
                |  (#{`${entriesLength - collapseAfterLength}`})
                svg.btn-collapse-arrow(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 36.6 61.5' style='enable-background:new 0 0 36.6 61.5;' xml:space='preserve' height='20')
                  style(type='text/css').
                    .st0{fill:none;stroke:currentColor;stroke-width:8;stroke-miterlimit:10;}
                  polyline.st0(points='2.8,58.6 30.9,30.5 3.2,2.8 ')
          //- - currentIndex += section.count

    //- .row.text-left
      .col-12
        h2.section__title.presets__title--2
          | #{"Easily \nCustomizable"}
    //- .row.text-left
      .col-10.offset-1
        .row
          .col-4
            p.section__text
              b On-screen Controls 
              | #{"\nAut the peset in place directly in the viewport"}
          .col-4
            p.section__text
              b Colorization & Glow 
              | #{"\nFind the perfect look to match your elit"}
          .col-4
            p.section__text
              b Adjustable Animation 
              | #{"\nTweak the movement to suit your nerds"}