-
  var purchaseLeftImages = [
    {
      src: '/images/ptl_01.jpg',
      alt: ''
    },
    {
      src: '/images/ptl_02.jpg',
      alt: ''
    },
    {
      src: '/images/ptl_03.jpg',
      alt: ''
    },
    {
      src: '/images/ptl_04.jpg',
      alt: ''
    },
    {
      src: '/images/ptl_05.jpg',
      alt: ''
    },
    {
      src: '/images/ptl_08.jpg',
      alt: ''
    },
    {
      src: '/images/ptl_07.jpg',
      alt: ''
    },
    {
      src: '/images/ptl_06.jpg',
      alt: ''
    }
  ]


section.purchases.bg--dark
  //- .update__bg__matrix__shadow--2.bg--full--absolute
  .purchases__shadow.bg--full--absolute
  .container
    .row
      .col-md-6
        .purchases__image.purchases__image--products.scene
          each imgL in purchaseLeftImages
            .tile__wrapper(data-index=n)
              .tile.object
                .mesh
                  .face-front
                    img.tile__mesh(src=imgL.src alt=imgL.alt srcset='')
                .shadow
                //- img.tile__shadow(src=`/images/ptl_0${n}_shadow.png` alt='' srcset='')
      .col-md-6
        .purchases__content.section__text__content
          .section__header
            h2.purchases__title
              | Organized <br>
              span All purchases in one place
          p.purchases__text.section__text
            | The easiest way to manage your 
            a.link--yellow(href="http://", target="_blank", rel="noopener noreferrer") downloads
            |  and 
            a.link--yellow(href="http://", target="_blank", rel="noopener noreferrer") licences. 
            | #{"\nYou have unconstrained access to your content across your Macs."}
          p.purchases__text.section__text
            | Conviniently switching licences between 
            b different machines, 
            | #{"\nuninstall plugins and templates, find tutorials and reach our support \nirectly in connection with specific products."}
        .purchases__image.purchases__image--projects.scene
          - var u = 1
          while u < 3
            .tile__wrapper(data-index=u)
              .tile.object
                .mesh
                  .face-front
                    img.tile__mesh(src=`/images/ptr_0${u}.jpg` alt='' srcset='')
                .shadow
                //- img.tile__shadow(src=`/images/ptr_0${u}_shadow.png` alt='' srcset='')
            <!--#{u++}-->
