-
  var purchaseLeftImages = [
    {
      src: '/images/ptl_01.jpg',
      alt: '',
      width: 1060,
      height: 940
    },
    {
      src: '/images/ptl_02.jpg',
      alt: '',
      width: 1060,
      height: 940
    },
    {
      src: '/images/ptl_03.jpg',
      alt: '',
      width: 1060,
      height: 940
    },
    {
      src: '/images/ptl_04.jpg',
      alt: '',
      width: 1060,
      height: 940
    },
    {
      src: '/images/ptl_05.jpg',
      alt: '',
      width: 1060,
      height: 940
    },
    {
      src: '/images/ptl_08.jpg',
      alt: '',
      width: 1060,
      height: 940
    },
    {
      src: '/images/ptl_07.jpg',
      alt: '',
      width: 1441,
      height: 452
    },
    {
      src: '/images/ptl_06.jpg',
      alt: '',
      width: 1060,
      height: 940
    }
  ]

-
  var purchaseRightImages = [
    {
      src: '/images/ptr_01.jpg',
      alt: '',
      width: 1750,
      height: 1856
    },
    {
      src: '/images/ptr_02.jpg',
      alt: '',
      width: 1368,
      height: 1902
    }
  ]


section.purchases.bg--dark
  //- .update__bg__matrix__shadow--2.bg--full--absolute
  .purchases__shadow.bg--full--absolute
  .container
    .row
      .col-md-6
        .purchases__image.purchases__image--products.scene
          each imgL in purchaseLeftImages
            .tile__wrapper
              .tile.object
                .mesh
                  .face-front
                    //- img.tile__mesh(src=imgL.src alt=imgL.alt srcset='')
                    - var image = imgL.src
                    - var alt = imgL.alt
                    - var imageWidth = imgL.width
                    - var imageHeight = imgL.height
                    include components/image.pug
                .shadow
                //- img.tile__shadow(src=`/images/ptl_0${n}_shadow.png` alt='' srcset='')
      .col-md-6
        .purchases__content.section__text__content
          .section__header
            h2.purchases__title
              | Organized <br>
              span All purchases in one place
          p.purchases__text.section__text
            | The easiest way to manage your 
            a.link--yellow(href="http://", target="_blank", rel="noopener noreferrer") downloads
            |  and 
            a.link--yellow(href="http://", target="_blank", rel="noopener noreferrer") licences. 
            | #{"\nYou have unconstrained access to your content across your Macs."}
          p.purchases__text.section__text
            | Conviniently switching licences between 
            b different machines, 
            | #{"\nuninstall plugins and templates, find tutorials and reach our support \nirectly in connection with specific products."}
        .purchases__image.purchases__image--projects.scene
          //- - var u = 1
          //- while u < 3
          each imgR in purchaseRightImages
            .tile__wrapper
              .tile.object
                .mesh
                  .face-front
                    //- img.tile__mesh(src=`/images/ptr_0${u}.jpg` alt='' srcset='')
                    - var image = imgR.src
                    - var alt = imgR.alt
                    - var imageWidth = imgR.width
                    - var imageHeight = imgR.height
                    include components/image.pug
                .shadow
                //- img.tile__shadow(src=`/images/ptr_0${u}_shadow.png` alt='' srcset='')
              //- <!--#{u++}-->
