section.split-image
  .section__bg
    img(src=placeholders.image.lg, alt="", srcset="")
    img(src=placeholders.image.lg, alt="", srcset="")
  .container
    .row
      .col-12
        .section__head
          h2.section__subtitle=placeholders.text.subtitle
          p.section__title=placeholders.text.title
          p.section__text=placeholders.text.lorem
        .section__body
