section.trailer.animated
  a.nav(name="trailer")
  .container
    .row
      .col
        h2.trailer__title.animated.animated--fade--bottom #{title}
        p.trailer__subtitle.animated.animated--fade--bottom #{subtitle}
        .yt.embed-responsive.embed-responsive-16by9.animated.animated--fade--bottom
          iframe(
            src=videoLink,
            frameborder="0",
            allow="autoplay; encrypted-media",
            allowfullscreen=""
          )
