section.trailer.animated
  a.nav(name="trailer")
  .container
    .row
      .col
        .trailer__text
          h2.trailer__title.animated.animated--fade--bottom #{title}
          p.trailer__subtitle.animated.animated--fade--bottom #{subtitle}
        .yt.embed-responsive.embed-responsive-16by9.animated.animated--fade--bottom
          iframe(
            src=videoLink,
            srcdoc=videoPlaceholder ? `
              <style>
                * {
                    padding:0;
                    margin:0;
                    overflow:hidden
                  }
                html,
                body {
                  height:100%
                }
                img,
                span {
                  position:absolute;
                  width:100%;
                  top:0;
                  bottom:0;
                  margin:auto
                }
                span {
                  height:1.5em;
                  text-align:center;
                  font:48px/1.5 sans-serif;
                  color:white;
                  text-shadow:0 0 0.5em black
                }
                </style>
                <a href=${videoLink}&autoplay=1>
                  <img src=${videoPlaceholder} alt=${title}>
                  <span>&#x25BA;</span>
                </a>
            ` : false
            frameborder="0",
            allow="autoplay; encrypted-media",
            allowfullscreen="",
            title= title,
            style=`background-color: #000`
          )
