section(class=`video ${sectionClasses}`)
  - if (background)
    .image__background
      - var image = background
      - var alt = 'Pixelated background'
      - var imageWidth = '2560'
      - var imageHeight = '1150'
      - var sizes = ''
      include components/image.pug
  .container.text-center
    .row
      .col
        .section__head
          h2.section__subtitle=subtitle
          h2.section__title #{title}
          p.section__text #{text}
        //- lite-youtube(videoid=videoLink style=`background-image: url('https://i.ytimg.com/vi/${videoLink}/maxresdefault.jpg');`)
        .yt.embed-responsive.embed-responsive-16by9.animated.animated--fade--bottom
          iframe(
            src=videoLink,
            frameborder="0",
            allow="autoplay; encrypted-media",
            allowfullscreen="",
            title= title,
            style=`background-color: #000`
          )
